target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
bin/

# OS files
Thumbs.db
db.properties
.DS_Store

# Log files
*.log
